@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Roboto:ital,wght@1,300&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Permanent+Marker&family=Roboto:ital,wght@1,300&family=Staatliches&display=swap");
* {
  margin: 0;
}

h2 {
  display: inline;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: rgba(12, 12, 12, 0.6);
  color: #999999;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.body {
  background-image: url(../../imagenes/background-body2-min.jpg);
  background-size: cover;
}

/*TIPOGRAFIA Y BORDER DEL LOGO*/
.navbar-brand {
  font-family: Amatic SC, sans-serif;
  font-size: 30px;
  background: white;
  border: 2px dotted black;
  padding: 10px;
  border-radius: 40px;
}

/*CLOSE*/
.nav-logo {
  height: 30px;
  width: 30px;
}

/*tamaño de las imagenes del carrusel de index y productos*/
.d-block {
  width: 100%;
  height: 300px;
}

/*close comment*/
div ul .nav-item .nav-link {
  color: black;
}

div ul .nav-item .nav-link:hover {
  color: #aaa9a9;
}

/*Aca terminan los valores genericos, se comienza a definir estilos de cada seccion*/
/*INICIO*/
.contenedor-carrusel-index {
  margin-top: 50px;
  height: 300px;
  width: 400px;
  -webkit-box-shadow: 2px 2px 10px 3px black;
          box-shadow: 2px 2px 10px 3px black;
}

.flex-h1-index, .flex-h1-contacto {
  margin-top: -100px;
}

.container-padre-pagos {
  margin-top: 50px;
}

.container-padre-pagos .container-pagos {
  height: 70px;
  background: #020202;
}

.container-padre-pagos .container-pagos .row-pagos {
  height: 80%;
  width: 70%;
  margin: auto;
}

.container-padre-pagos .container-pagos .row-pagos article {
  margin-left: 20px;
  height: 100%;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px 2px black;
}

.contenedor-opciones {
  width: 70%;
  margin-top: 50px;
}

.contenedor-opciones .flex-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.contenedor-opciones .flex-text .texto-opciones,
.contenedor-opciones .flex-text .texto-block {
  width: 100%;
  font-family: Amatic SC, sans-serif;
  color: white;
}

/*contenedor del texto/epigrafe de los 3 items del carrusel opciones*/
.container-info-index {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #cfcfcf;
}

.container-info-index strong {
  display: block;
  font-size: 25px;
}

/*@MEDIA*/
@media screen and (min-width: 258px) {
  .container-padre-pagos .container-pagos {
    height: 170px;
  }
  .contenedor-opciones {
    width: 100%;
  }
  .texto-block {
    display: block;
  }
  .texto-opciones {
    display: none;
  }
  .contenedor-carrusel-index {
    width: 100%;
  }
}

@media screen and (min-width: 362px) {
  .container-padre-pagos .container-pagos {
    height: 98px;
  }
}

@media screen and (min-width: 433px) {
  .contenedor-carrusel-index {
    width: 400px;
  }
}

@media screen and (min-width: 473px) {
  .container-padre-pagos .container-pagos {
    height: 75px;
  }
  .contenedor-opciones {
    width: 70%;
  }
  .texto-block {
    display: none;
  }
  .texto-opciones {
    display: block;
  }
}

/*PRODUCTOS*/
.flex-h1-productos {
  margin-top: -100px;
}

.total-productos {
  margin-top: 80px;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.4);
}

.myclass-name-items {
  font-size: 15px;
}

/*@Media*/
@media screen and (min-width: 258px) {
  .contenedor-carrusel-productos {
    width: 100%;
  }
}

@media screen and (min-width: 433px) {
  .contenedor-carrusel-productos {
    width: 400px;
  }
  .active-touch:hover > .card {
    -webkit-box-shadow: 2px 2px 10px 3px black;
            box-shadow: 2px 2px 10px 3px black;
  }
}

/* CARRITO*/
.flex-h2-carrito, .flex-h1-index, .flex-h1-contacto, .flex-h1-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-h2-carrito .row-h2-carrito, .flex-h1-index .row-h2-carrito, .flex-h1-contacto .row-h2-carrito, .flex-h1-productos .row-h2-carrito, .flex-h1-index .row-h1-index, .flex-h1-contacto .row-h1-index, .flex-h1-contacto .row-h1-contacto, .flex-h1-productos .row-h1-productos {
  margin-top: 80px;
  width: 100%;
}

.flex-h2-carrito .row-h2-carrito .h2-carrito, .flex-h1-index .row-h2-carrito .h2-carrito, .flex-h1-contacto .row-h2-carrito .h2-carrito, .flex-h1-productos .row-h2-carrito .h2-carrito, .flex-h2-carrito .flex-h1-index .row-h1-index .h2-carrito, .flex-h1-index .flex-h2-carrito .row-h1-index .h2-carrito, .flex-h1-index .row-h1-index .h2-carrito, .flex-h1-contacto .flex-h1-index .row-h1-index .h2-carrito, .flex-h1-index .flex-h1-contacto .row-h1-index .h2-carrito, .flex-h1-productos .flex-h1-index .row-h1-index .h2-carrito, .flex-h1-index .flex-h1-productos .row-h1-index .h2-carrito, .flex-h2-carrito .flex-h1-contacto .row-h1-index .h2-carrito, .flex-h1-contacto .flex-h2-carrito .row-h1-index .h2-carrito, .flex-h1-index .flex-h1-contacto .row-h1-index .h2-carrito, .flex-h1-contacto .flex-h1-index .row-h1-index .h2-carrito, .flex-h1-contacto .row-h1-index .h2-carrito, .flex-h1-productos .flex-h1-contacto .row-h1-index .h2-carrito, .flex-h1-contacto .flex-h1-productos .row-h1-index .h2-carrito, .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .h2-carrito, .flex-h1-contacto .flex-h2-carrito .row-h1-contacto .h2-carrito, .flex-h1-index .flex-h1-contacto .row-h1-contacto .h2-carrito, .flex-h1-contacto .flex-h1-index .row-h1-contacto .h2-carrito, .flex-h1-contacto .row-h1-contacto .h2-carrito, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .h2-carrito, .flex-h1-contacto .flex-h1-productos .row-h1-contacto .h2-carrito, .flex-h2-carrito .flex-h1-productos .row-h1-productos .h2-carrito, .flex-h1-productos .flex-h2-carrito .row-h1-productos .h2-carrito, .flex-h1-index .flex-h1-productos .row-h1-productos .h2-carrito, .flex-h1-productos .flex-h1-index .row-h1-productos .h2-carrito, .flex-h1-contacto .flex-h1-productos .row-h1-productos .h2-carrito, .flex-h1-productos .flex-h1-contacto .row-h1-productos .h2-carrito, .flex-h1-productos .row-h1-productos .h2-carrito, .flex-h2-carrito .row-h2-carrito .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h2-carrito .row-h2-carrito .h1-index, .flex-h1-index .row-h2-carrito .row-h1-index .h1-index, .flex-h1-index .row-h1-index .row-h2-carrito .h1-index, .flex-h1-contacto .row-h2-carrito .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-contacto .row-h2-carrito .h1-index, .flex-h1-productos .row-h2-carrito .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-productos .row-h2-carrito .h1-index, .flex-h2-carrito .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h2-carrito .row-h1-index .h1-index, .flex-h1-index .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-productos .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-productos .row-h1-index .h1-index, .flex-h2-carrito .flex-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h2-carrito .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h2-carrito .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .flex-h2-carrito .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-productos .flex-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-productos .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-productos .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .flex-h1-productos .row-h1-index .h1-index, .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .flex-h2-carrito .row-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-contacto .flex-h2-carrito .row-h1-contacto .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-productos .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .flex-h1-productos .row-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-contacto .flex-h1-productos .row-h1-contacto .h1-index, .flex-h2-carrito .flex-h1-productos .row-h1-productos .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h2-carrito .flex-h1-productos .row-h1-productos .h1-index, .flex-h1-productos .flex-h2-carrito .row-h1-productos .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-productos .flex-h2-carrito .row-h1-productos .h1-index, .flex-h1-index .flex-h1-productos .row-h1-productos .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-productos .row-h1-productos .h1-index, .flex-h1-productos .flex-h1-index .row-h1-productos .row-h1-index .h1-index, .flex-h1-productos .flex-h1-index .row-h1-index .row-h1-productos .h1-index, .flex-h1-contacto .flex-h1-productos .row-h1-productos .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-contacto .flex-h1-productos .row-h1-productos .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-productos .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-productos .flex-h1-contacto .row-h1-productos .h1-index, .flex-h1-productos .row-h1-productos .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-productos .row-h1-productos .h1-index, .flex-h2-carrito .row-h2-carrito .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h2-carrito .row-h2-carrito .h1-index, .flex-h1-index .row-h2-carrito .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h1-index .row-h2-carrito .h1-index, .flex-h1-contacto .row-h2-carrito .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .row-h2-carrito .h1-index, .flex-h1-productos .row-h2-carrito .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h1-productos .row-h2-carrito .h1-index, .flex-h2-carrito .flex-h1-index .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h2-carrito .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h2-carrito .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .flex-h2-carrito .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-productos .flex-h1-index .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-productos .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-productos .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .flex-h1-productos .row-h1-index .h1-index, .flex-h2-carrito .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h2-carrito .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-productos .row-h1-index .h1-index, .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h2-carrito .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .flex-h2-carrito .row-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h2-carrito .row-h1-contacto .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .flex-h1-productos .row-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h1-productos .row-h1-contacto .h1-index, .flex-h2-carrito .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h2-carrito .flex-h1-productos .row-h1-productos .h1-index, .flex-h1-productos .flex-h2-carrito .row-h1-productos .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h1-productos .flex-h2-carrito .row-h1-productos .h1-index, .flex-h1-index .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h1-index .flex-h1-productos .row-h1-productos .h1-index, .flex-h1-productos .flex-h1-index .row-h1-productos .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h1-productos .flex-h1-index .row-h1-productos .h1-index, .flex-h1-contacto .flex-h1-productos .row-h1-productos .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h1-productos .row-h1-productos .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-productos .row-h1-index .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-index .row-h1-productos .h1-index, .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .flex-h1-productos .row-h1-productos .h1-index, .flex-h2-carrito .row-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h2-carrito .row-h2-carrito .h1-index, .flex-h1-index .row-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h2-carrito .h1-index, .flex-h1-contacto .row-h2-carrito .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .row-h2-carrito .h1-index, .flex-h1-productos .row-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h2-carrito .h1-index, .flex-h2-carrito .flex-h1-index .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h2-carrito .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h2-carrito .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-index .flex-h2-carrito .row-h1-index .h1-index, .flex-h1-index .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h1-productos .flex-h1-index .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .flex-h1-index .row-h1-index .h1-index, .flex-h1-index .flex-h1-productos .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-index .flex-h1-productos .row-h1-index .h1-index, .flex-h2-carrito .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-index, .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h2-carrito .row-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h2-carrito .row-h1-index .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .flex-h1-productos .row-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h1-index .h1-index, .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .flex-h2-carrito .row-h1-contacto .h1-index, .flex-h1-index .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .flex-h1-index .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .flex-h1-productos .row-h1-contacto .h1-index, .flex-h2-carrito .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h2-carrito .flex-h1-productos .row-h1-productos .h1-index, .flex-h1-productos .flex-h2-carrito .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .flex-h2-carrito .row-h1-productos .h1-index, .flex-h1-index .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-index .flex-h1-productos .row-h1-productos .h1-index, .flex-h1-productos .flex-h1-index .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .flex-h1-index .row-h1-productos .h1-index, .flex-h1-contacto .flex-h1-productos .row-h1-productos .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h1-productos .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-productos .row-h1-contacto .h1-index, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .row-h1-productos .h1-index, .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h1-productos .h1-index, .flex-h2-carrito .row-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h2-carrito .row-h2-carrito .h1-contacto, .flex-h1-index .row-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h2-carrito .h1-contacto, .flex-h1-contacto .row-h2-carrito .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .row-h2-carrito .h1-contacto, .flex-h1-productos .row-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h2-carrito .h1-contacto, .flex-h2-carrito .flex-h1-index .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h2-carrito .flex-h1-index .row-h1-index .h1-contacto, .flex-h1-index .flex-h2-carrito .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-index .flex-h2-carrito .row-h1-index .h1-contacto, .flex-h1-index .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h1-index .h1-contacto, .flex-h1-contacto .flex-h1-index .row-h1-index .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h1-index .h1-contacto, .flex-h1-index .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-contacto, .flex-h1-index .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-contacto, .flex-h1-productos .flex-h1-index .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .flex-h1-index .row-h1-index .h1-contacto, .flex-h1-index .flex-h1-productos .row-h1-index .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-index .flex-h1-productos .row-h1-index .h1-contacto, .flex-h2-carrito .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-contacto, .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-contacto, .flex-h1-contacto .flex-h2-carrito .row-h1-index .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h2-carrito .row-h1-index .h1-contacto, .flex-h1-index .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-contacto, .flex-h1-index .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-contacto, .flex-h1-contacto .flex-h1-index .row-h1-index .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-index .row-h1-index .h1-contacto, .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-contacto, .flex-h1-productos .flex-h1-contacto .row-h1-index .row-h1-contacto .h1-contacto, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .row-h1-index .h1-contacto, .flex-h1-contacto .flex-h1-productos .row-h1-index .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h1-index .h1-contacto, .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .flex-h2-carrito .row-h1-contacto .h1-contacto, .flex-h1-index .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .flex-h1-index .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .flex-h1-productos .row-h1-contacto .h1-contacto, .flex-h2-carrito .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h2-carrito .flex-h1-productos .row-h1-productos .h1-contacto, .flex-h1-productos .flex-h2-carrito .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .flex-h2-carrito .row-h1-productos .h1-contacto, .flex-h1-index .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-index .flex-h1-productos .row-h1-productos .h1-contacto, .flex-h1-productos .flex-h1-index .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .flex-h1-index .row-h1-productos .h1-contacto, .flex-h1-contacto .flex-h1-productos .row-h1-productos .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h1-productos .h1-contacto, .flex-h1-productos .flex-h1-contacto .row-h1-productos .row-h1-contacto .h1-contacto, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .row-h1-productos .h1-contacto, .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h1-productos .h1-contacto, .flex-h2-carrito .row-h2-carrito .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h2-carrito .row-h2-carrito .h1-productos, .flex-h1-index .row-h2-carrito .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-index .row-h2-carrito .h1-productos, .flex-h1-contacto .row-h2-carrito .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h2-carrito .h1-productos, .flex-h1-productos .row-h2-carrito .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .row-h2-carrito .h1-productos, .flex-h2-carrito .flex-h1-index .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h2-carrito .flex-h1-index .row-h1-index .h1-productos, .flex-h1-index .flex-h2-carrito .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-index .flex-h2-carrito .row-h1-index .h1-productos, .flex-h1-index .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-index .row-h1-index .h1-productos, .flex-h1-contacto .flex-h1-index .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .flex-h1-index .row-h1-index .h1-productos, .flex-h1-index .flex-h1-contacto .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-index .flex-h1-contacto .row-h1-index .h1-productos, .flex-h1-productos .flex-h1-index .row-h1-index .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-index .row-h1-index .h1-productos, .flex-h1-index .flex-h1-productos .row-h1-index .row-h1-productos .h1-productos, .flex-h1-index .flex-h1-productos .row-h1-productos .row-h1-index .h1-productos, .flex-h2-carrito .flex-h1-contacto .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h2-carrito .flex-h1-contacto .row-h1-index .h1-productos, .flex-h1-contacto .flex-h2-carrito .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .flex-h2-carrito .row-h1-index .h1-productos, .flex-h1-index .flex-h1-contacto .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-index .flex-h1-contacto .row-h1-index .h1-productos, .flex-h1-contacto .flex-h1-index .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .flex-h1-index .row-h1-index .h1-productos, .flex-h1-contacto .row-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-index .h1-productos, .flex-h1-productos .flex-h1-contacto .row-h1-index .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-index .h1-productos, .flex-h1-contacto .flex-h1-productos .row-h1-index .row-h1-productos .h1-productos, .flex-h1-contacto .flex-h1-productos .row-h1-productos .row-h1-index .h1-productos, .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h2-carrito .flex-h1-contacto .row-h1-contacto .h1-productos, .flex-h1-contacto .flex-h2-carrito .row-h1-contacto .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .flex-h2-carrito .row-h1-contacto .h1-productos, .flex-h1-index .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-index .flex-h1-contacto .row-h1-contacto .h1-productos, .flex-h1-contacto .flex-h1-index .row-h1-contacto .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .flex-h1-index .row-h1-contacto .h1-productos, .flex-h1-contacto .row-h1-contacto .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-productos, .flex-h1-productos .flex-h1-contacto .row-h1-contacto .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .flex-h1-contacto .row-h1-contacto .h1-productos, .flex-h1-contacto .flex-h1-productos .row-h1-contacto .row-h1-productos .h1-productos, .flex-h1-contacto .flex-h1-productos .row-h1-productos .row-h1-contacto .h1-productos, .flex-h2-carrito .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .flex-h2-carrito .row-h1-productos .h1-productos, .flex-h1-index .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .flex-h1-index .row-h1-productos .h1-productos, .flex-h1-contacto .flex-h1-productos .row-h1-productos .h1-productos, .flex-h1-productos .flex-h1-contacto .row-h1-productos .h1-productos, .flex-h1-productos .row-h1-productos .h1-productos {
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: amatic sc, sans-serif;
  -webkit-box-shadow: 5px 5px 20px 5px #333333;
          box-shadow: 5px 5px 20px 5px #333333;
  color: white;
  background: #646464;
  padding-top: 29px;
}

.footer-carrito {
  margin-top: 50vh;
}

/*QUIENES SOMOS*/
.flex-h2-somos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-h2-somos .h2-somos {
  height: 140px;
  padding-top: 29px;
}

.contenedor-puntos-de-venta {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px 0px;
}

.contenedor-puntos-de-venta .puntos-de-venta {
  -webkit-box-shadow: 5px 5px 20px 5px #333333;
          box-shadow: 5px 5px 20px 5px #333333;
  color: white;
  font-family: amatic sc, sans-serif;
  background: #e43a3a;
  border: 3px dotted black;
}

.footer-somos {
  margin-top: 100vh;
}

/*MEDIA*/
@media screen and (min-width: 272px) {
  .row-h2-somos {
    margin-top: 50px;
    width: 100%;
    height: 170px;
  }
  .h2-somos {
    width: 100%;
    height: 170px;
  }
}

@media screen and (min-width: 324px) {
  .row-h2-somos {
    margin-top: 70px;
    width: 100%;
    height: 160px;
  }
  .h2-somos {
    width: 100%;
    height: 160px;
    text-align: center;
    font-family: amatic sc, sans-serif;
  }
}

@media screen and (min-width: 406px) {
  .row-h2-somos {
    margin-top: 90px;
    width: 100%;
    height: 120px;
  }
  .h2-somos {
    width: 100%;
    height: 120px;
    text-align: center;
    font-family: amatic sc, sans-serif;
  }
}

@media screen and (min-width: 830px) {
  .row-h2-somos {
    margin-top: 80px;
    width: 100%;
    height: 100px;
  }
  .h2-somos {
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: amatic sc, sans-serif;
    -webkit-box-shadow: 5px 5px 20px 5px #333333;
            box-shadow: 5px 5px 20px 5px #333333;
    color: white;
    background: #646464;
    padding-top: 29px;
  }
}

/*CONTACTO*/
.flex-h1-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-h1-contacto .row-h1-contacto {
  margin-top: 120px;
  width: 100%;
  height: 100px;
}

.contenedor-formulario {
  margin-top: 100px;
  width: 70%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #c5c4c4;
}

.btn-instagram {
  background: #5c325c;
  color: white;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-instagram:hover {
  border: 2px solid white;
}

.btn-facebook {
  background: #5757e4;
  color: white;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-facebook:hover {
  border: 2px solid white;
}

.btn-whatsapp {
  background: #46c046;
  color: white;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-whatsapp:hover {
  border: 2px solid white;
}

.footer-contacto {
  margin-top: 100vh;
}
/*# sourceMappingURL=index.css.map */