@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Roboto:ital,wght@1,300&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Permanent+Marker&family=Roboto:ital,wght@1,300&family=Staatliches&display=swap");
/*inclui mixin con parametros para los botones de las redes sociales en seccion contacto*/
* {
  margin: 0;
}

h2 {
  display: inline;
}

footer {
  display: flex;
  width: 100%;
  background: rgba(12, 12, 12, 0.6);
  color: rgb(153, 153, 153);
  justify-content: space-evenly;
  align-items: flex-end;
}

.body {
  background-image: url(../../imagenes/background-body2-min.jpg);
  background-size: cover;
}

/*TIPOGRAFIA Y BORDER DEL LOGO*/
.navbar-brand {
  font-family: Amatic SC, sans-serif;
  font-size: 30px;
  background: rgb(255, 255, 255);
  border: 2px dotted black;
  padding: 10px;
  border-radius: 40px;
}

/*CLOSE*/
.nav-logo {
  height: 30px;
  width: 30px;
}

/*tamaño de las imagenes del carrusel de index y productos*/
.d-block {
  width: 100%;
  height: 300px;
}

/*close comment*/
div ul .nav-item .nav-link {
  color: black;
}
div ul .nav-item .nav-link:hover {
  color: rgb(170, 169, 169);
}

/*Aca terminan los valores genericos, se comienza a definir estilos de cada seccion*/
/*INICIO*/
.contenedor-carrusel-index {
  margin-top: 50px;
  height: 300px;
  width: 400px;
  box-shadow: 2px 2px 10px 3px black;
}

.flex-h1-index, .flex-h1-contacto, .flex-h1-somos, .flex-h1-carrito {
  display: flex;
  justify-content: center;
  margin-top: -100px;
}
.flex-h1-index .row-h1-index, .flex-h1-contacto .row-h1-index, .flex-h1-contacto .row-h1-contacto, .flex-h1-somos .row-h1-index, .flex-h1-somos .row-h1-somos, .flex-h1-carrito .row-h1-index, .flex-h1-carrito .row-h1-carrito {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}
.flex-h1-index .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-somos .row-h1-index .h1-index, .flex-h1-somos .row-h1-somos .h1-index, .flex-h1-somos .row-h1-somos .h1-somos, .flex-h1-carrito .row-h1-index .h1-index, .flex-h1-carrito .row-h1-carrito .h1-index, .flex-h1-carrito .row-h1-carrito .h1-carrito {
  width: 50%;
  height: 100px;
  margin-top: 60px;
  text-align: center;
  font-family: amatic sc, sans-serif;
  box-shadow: 5px 5px 20px 5px rgb(51, 51, 51);
  color: white;
  background: rgb(100, 100, 100);
  padding-top: 29px;
}

.container-padre-pagos {
  margin-top: 50px;
}
.container-padre-pagos .container-pagos {
  height: 70px;
  background: rgb(2, 2, 2);
}
.container-padre-pagos .container-pagos .row-pagos {
  height: 80%;
  width: 70%;
  margin: auto;
}
.container-padre-pagos .container-pagos .row-pagos article {
  margin-left: 20px;
  height: 100%;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px 2px black;
}

.contenedor-opciones {
  width: 70%;
  margin-top: 50px;
}
.contenedor-opciones .flex-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.contenedor-opciones .flex-text .texto-opciones,
.contenedor-opciones .flex-text .texto-block {
  width: 100%;
  font-family: Amatic SC, sans-serif;
  color: white;
}

/*contenedor del texto/epigrafe de los 3 items del carrusel opciones*/
.container-info-index {
  display: grid;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(207, 207, 207);
}
.container-info-index strong {
  display: block;
  font-size: 25px;
}

/*@MEDIA*/
@media screen and (min-width: 258px) and (max-width: 420px) {
  .container-padre-pagos .container-pagos {
    height: 170px;
  }
  .contenedor-opciones {
    width: 100%;
  }
  .texto-block {
    display: block;
  }
  .texto-opciones {
    display: none;
  }
  .contenedor-carrusel-index {
    width: 100%;
  }
} /*responsive*/
@media screen and (min-width: 258px) and (max-width: 406px) {
  .flex-h1-index, .flex-h1-contacto, .flex-h1-somos, .flex-h1-carrito {
    margin-top: -100px;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .flex-h1-index .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-somos .row-h1-index .h1-index, .flex-h1-somos .row-h1-somos .h1-index, .flex-h1-somos .row-h1-somos .h1-somos, .flex-h1-carrito .row-h1-index .h1-index, .flex-h1-carrito .row-h1-carrito .h1-index, .flex-h1-carrito .row-h1-carrito .h1-carrito {
    margin-top: 50px;
    height: 120px;
    width: 65%;
  }
} /*.h1-index-responsive*/
@media screen and (min-width: 407px) {
  .flex-h1-index .row-h1-index .h1-index, .flex-h1-contacto .row-h1-index .h1-index, .flex-h1-contacto .row-h1-contacto .h1-index, .flex-h1-contacto .row-h1-contacto .h1-contacto, .flex-h1-somos .row-h1-index .h1-index, .flex-h1-somos .row-h1-somos .h1-index, .flex-h1-somos .row-h1-somos .h1-somos, .flex-h1-carrito .row-h1-index .h1-index, .flex-h1-carrito .row-h1-carrito .h1-index, .flex-h1-carrito .row-h1-carrito .h1-carrito {
    height: 100px;
    width: 70%;
  }
} /*.h1 responsive*/
@media screen and (min-width: 290px) {
  .container-padre-pagos .container-pagos {
    height: 126px;
  }
} /*pagos responsive*/
@media screen and (min-width: 361px) {
  .container-padre-pagos .container-pagos {
    height: 100px;
  }
} /*pagos responsive*/
@media screen and (min-width: 433px) {
  .contenedor-carrusel-index {
    width: 400px;
  }
}
@media screen and (min-width: 473px) {
  .container-padre-pagos .container-pagos {
    height: 75px;
  }
  .contenedor-opciones {
    width: 70%;
  }
  .texto-block {
    display: none;
  }
  .texto-opciones {
    display: block;
  }
}
/*PRODUCTOS*/
.flex-h1-productos {
  display: flex;
  justify-content: center;
}
.flex-h1-productos .row-h1-productos {
  display: flex;
  justify-content: center;
  width: 100%;
}
.flex-h1-productos .row-h1-productos .h1-productos {
  width: 50%;
  height: 100px;
  text-align: center;
  margin-top: 60px;
  font-family: amatic sc, sans-serif;
  box-shadow: 5px 5px 20px 5px rgb(51, 51, 51);
  color: white;
  background: rgb(100, 100, 100);
  padding-top: 29px;
}

.total-productos {
  margin-top: 80px;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.4);
}

.myclass-name-items {
  font-size: 15px;
}

/*@Media*/
@media screen and (min-width: 258px) and (max-width: 400px) {
  .flex-h1-productos .row-h1-productos .h1-productos {
    height: 130px;
  }
} /*responsive .h1-productos*/
@media screen and (min-width: 433px) {
  .active-touch:hover > .card {
    box-shadow: 2px 2px 10px 3px black;
  }
} /*sombra de los productos*/
/* CARRITO*/
.agregados {
  margin-top: 60px;
}

@media screen and (min-width: 407x) {
  .flex-h1-carrito .row-h1-carrito .h1-carrito {
    height: 100px;
    width: 70%;
  }
}
/*QUIENES SOMOS*/
.contenedor-puntos-de-venta {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px 20px 0px;
}
.contenedor-puntos-de-venta .puntos-de-venta {
  box-shadow: 5px 5px 20px 5px rgb(51, 51, 51);
  color: white;
  font-family: amatic sc, sans-serif;
  background: rgb(228, 58, 58);
  border: 3px dotted black;
}

/*MEDIA*/
@media screen and (min-width: 258px) {
  .flex-h1-somos .row-h1-somos .h1-somos {
    width: 100%;
    height: 190px;
  }
}
@media screen and (min-width: 316px) {
  .flex-h1-somos .row-h1-somos .h1-somos {
    width: 100%;
    height: 140px;
  }
}
@media screen and (min-width: 406px) {
  .flex-h1-somos .row-h1-somos .h1-somos {
    width: 100%;
    height: 140px;
  }
}
@media screen and (min-width: 830px) {
  .flex-h1-somos .row-h1-somos .h1-somos {
    width: 100%;
    height: 140px;
  }
}
@media screen and (min-width: 1085px) {
  .flex-h1-somos .row-h1-somos .h1-somos {
    width: 100%;
    height: 110px;
  }
}
/*CONTACTO*/
.flex-h1-contacto {
  display: flex;
  justify-content: center;
}
.flex-h1-contacto .row-h1-contacto {
  margin-top: 120px;
  width: 100%;
  height: 100px;
}
.contenedor-formulario {
  margin-top: 100px;
  width: 70%;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  background: rgb(197, 196, 196);
}

.contenedor-redes {
  margin-top: 100px;
}

.btn-instagram {
  background: rgb(92, 50, 92);
  color: white;
  margin-top: 20px;
  border-radius: 50%;
  display: flex;
}
.btn-instagram:hover {
  border: 2px solid white;
}

.btn-facebook {
  background: rgb(87, 87, 228);
  color: white;
  margin-top: 20px;
  border-radius: 50%;
  display: flex;
}
.btn-facebook:hover {
  border: 2px solid white;
}

.btn-whatsapp {
  background: rgb(70, 192, 70);
  color: white;
  margin-top: 20px;
  border-radius: 50%;
  display: flex;
}
.btn-whatsapp:hover {
  border: 2px solid white;
}

.btn-instagram {
  height: 70px;
  width: 70px;
}

.btn-facebook {
  height: 80px;
  width: 80px;
}

.btn-whatsapp {
  height: 90px;
  width: 90px;
}

/*# sourceMappingURL=index.css.map */
